/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-CARDS .header {
  color: yellow;               /* Header color. Default is white. */
  text-align: left;            /* Algin header text  */
}

.MMM-CARDS .photo {            /* adjust size of card 1 */
  width: 18%;
  margin-right: 4px;
  margin-bottom: 14px;
  float: left;
}

.MMM-CARDS .photo2 {            /* adjust size of card 2 */
  width: 18%;
  margin-right: 4px;
  margin-bottom: 14px;
  float: left;
}

.MMM-CARDS .photo3 {            /* adjust size of card 3 */
  width: 18%;
  margin-right: 4px;
  margin-bottom: 14px;
  float: left;
}

.MMM-CARDS .photo4 {            /* adjust size of card 4 */
  width: 18%;
  margin-right: 4px;
  margin-bottom: 14px;
  float: left;
}

.MMM-CARDS .photo5 {            /* adjust size of card 5 */
  width: 18%;
  margin-right: 4px;
  margin-bottom: 14px;
  float: left;
}


.MMM-CARDS .xsmall.bright.spacer {            /* text spacer between cards */
  color: #62FF00;
  text-align: left;
}

.MMM-CARDS .photo6 {            /* adjust size of card 6 */
  width: 18%;
  margin-right: 4px;
  margin-top: 4px;
  float: left;
}

.MMM-CARDS .photo7 {            /* adjust size of card 7 */
  width: 18%;
  margin-right: 4px;
  margin-top: 4px;
  float: left;
}

.MMM-CARDS .photo8 {            /* adjust size of card 8 */
  width: 18%;
  margin-right: 4px;
  margin-top: 4px;
  float: left;
}

.MMM-CARDS .photo9 {            /* adjust size of card 9 */
  width: 18%;
  margin-right: 4px;
  margin-top: 4px;
  float: left;
}

.MMM-CARDS .photo10 {            /* adjust size of card 10 */
  width: 18%;
  margin-right: 4px;
  margin-top: 4px;
  float: left;
}
