/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-CARDS .header {
  color: yellow;               /* Header color. Default is white. */
  text-align: left;            /* Algin header text  */
}

.MMM-CARDS .photo {            /* adjust size of card 1 */
  width: 19%;
  float: right;
}

.MMM-CARDS .photo2 {            /* adjust size of card 1 */
  width: 19%;
  float: right;
}

.MMM-CARDS .photo3 {            /* adjust size of card 1 */
  width: 19%;
  float: right;
}

.MMM-CARDS .photo4 {            /* adjust size of card 1 */
  width: 19%;
  float: right;
}

.MMM-CARDS .photo5 {            /* adjust size of card 1 */
  width: 19%;
  float: right;
}